
.link-mess-dialog {
    text-decoration: none;
    /* Bỏ dấu gạch chân */
    color: inherit;
    /* Đảm bảo màu chữ thừa kế từ parent */
}
.mess-dialog {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}
.mess-dialog-active {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    background: rgb(213, 213, 213);
}

.dark-mode .mess-dialog-active {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    background: rgb(41, 41, 41);
}
.avatar-mess-dialog {
    width: 3.4rem;
    height: 3.4rem;
    min-width: 3.4rem;
    /* Đảm bảo chiều rộng không bị nhỏ hơn */
    min-height: 3.4rem;
    /* Đảm bảo chiều cao không bị nhỏ hơn */
    /* Bo tròn để tạo thành hình tròn */
    overflow: hidden;
    /* Ẩn phần ảnh thừa ra ngoài khung */
    position: relative;
    border-radius: 50%;
}

.avatar-mess-dialog img {
    position: absolute;
    /* Đặt ảnh vào vị trí tuyệt đối */
    top: 50%;
    /* Đưa ảnh lên giữa theo chiều dọc */
    left: 50%;
    /* Đưa ảnh lên giữa theo chiều ngang */
    width: 100%;
    /* Chiều rộng 100% của container */
    height: 100%;
    /* Chiều cao 100% của container */
    object-fit: cover;
    /* Đảm bảo ảnh lấp đầy container mà không bị méo */
    transform: translate(-50%, -50%);
    /* Căn giữa ảnh */
}

.content-mess-dialog {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
    height: 3.2rem;
    gap: 0.35rem;

    white-space: nowrap;
    /* Ngăn không cho văn bản xuống dòng */
    overflow: hidden;
    /* Ẩn phần văn bản vượt quá chiều rộng */
}

.content-mess-dialog .name {
    font-size: 1rem;
    font-weight: 550;
    white-space: nowrap;
    /* Ngăn không cho văn bản xuống dòng */
    overflow: hidden;
    /* Ẩn phần văn bản vượt quá chiều rộng */
    text-overflow: ellipsis;
    /* Hiển thị dấu ba chấm khi văn bản bị cắt */
    /* Chiều rộng chiếm toàn bộ container */
    width: 100%;
}

.content-mess-dialog .lastmess {
    font-size: 0.7rem;
    font-weight: 450;
    white-space: nowrap;
    /* Ngăn không cho văn bản xuống dòng */
    overflow: hidden;
    /* Ẩn phần văn bản vượt quá chiều rộng */
    text-overflow: ellipsis;
    /* Hiển thị dấu ba chấm khi văn bản bị cắt */
    /* Chiều rộng chiếm toàn bộ container */
    width: 100%;
    color:rgb(118, 118, 118)
}